img {
    width: 40%;
}

.cabecalho {
    width: 200px;
    height: 100px;
    background-color: red;

}

.primeirasecao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 500px;
    background-color: blue;

}

.divisao {
    width: 200px;
    height: 200px;
    background-color: green;
}