img {
    width: 40%;
}

.cabecalho {
    width: 200px;
    height: 100px;
    background-color: red;

}

.primeirasecao {
    width: 1000px;
    height: 500px;
    background-color: rgb(red, green, blue);

}